name: Build and Push Docker Image

on:
  push:
    branches: ["main"]
    paths-ignore:
      - .gitignore
      - LICENSE
      - README.md

  pull_request:
    branches: ["main"]
    paths-ignore:
      - .gitignore
      - LICENSE
      - README.md

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      # 2. 克隆指定的外部仓库
      - name: Clone external repository
        run: |
          # 替换下面的 URL 为你指定的 git 地址
          git clone https://github.com/wormtql/genshin_artifact.git genshin_artifact

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: ./genshin_artifact
          platforms: linux/amd64, linux/arm64
          push: true
          tags: |
            ${{ secrets.DOCKER_USERNAME }}/genshin-artifact:latest
            ${{ secrets.DOCKER_USERNAME }}/genshin-artifact:${{ github.sha }}
